* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #d9dcd6;
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Header style start */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Header style end */

/* Hero/Jumbotron style start */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}
/* Hero/Jumbotron style end */

/* Content style start */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

.content-section img {
    max-height: 200px;
}

.content-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Content style end */

/* Benefits style start */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

.benefit-section {
    margin-bottom: 32px;
}

.benefit-section h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Benefits style end */

/* Footer style start */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {
    font-size: 20px;
    font-weight: normal;
    color: #000000;
}

footer p {
    color: #000000;
}
/* Footer style end */